
/*here is the starting of body blue and white*/
body{
	width:95%;
}
.bluebody{
	background:blue;
	height: 620px;
	margin-top: -160px;
	padding-top:120px;	
	width:89%;
	padding-left:15%;
}

.element1{
	background-color:white;
	margin-top: 110px;
	overflow: hidden;
	box-shadow: 0.1px 0.5px 27px 0.5px #000;
	width:105%;
    margin-left:-11%;
}
/*Ending of body white and blue*/ 

/*Introduction to side paragraph*/
.name{
 font-family: Arial;
 margin-top: 190px;
 float:right;
 margin-right:-373.5px;
 font-size: 1em;
 color:grey;
}

.intro{
	margin-top: 200px;
	float: right;
	margin-right: -445px;
	font-size: 32px;
	font-family: Arial;
	color:white;
}


/*End of Introduction to side paragraph*/

/*Header Image*/

/*End of header*/

/*Start of Images*/
.yemsi{
	background:url(../images/yemsi_logo_cloth.png);
	width:450px;
	height:500px;
	float:left;
	margin-top:130px;
	margin-right:160px;
}

/*End of Images*/


/*Starting of Footer*/
.infooter{
	color:#fff;
	font-size: 0.7em;
	font-family: Arial, Time, serif;
	padding-left:500px;

}

footer{
	background:#000;
	height:100px;          
	width:1127px;
	margin-left:-20px;
	margin-top:2000px;
	padding-top:300px;
}
/*End Footer*/

/* Mobile Styles Stats Here*/
@media only screen and (min-width:200px) and (max-width:599px){
	.bluebody{
		background:blue;
	   }
	a{
		color:#000;
		font-size: 0.8em;
		font-family: Arial;
		float:right;
		padding:10px 25px 10px 25px;
		width: 8%;
		margin-top: 450px;
		background: rgba(246,238,173,.6);
		box-shadow: 0.1px 0.5px 3px 0.1px #000; 
		border-radius: 15px;
		margin-right:4%;
		border:2px solid #ccc;		
   }
   .bluebody{
		background:blue;
		height: 620px;
		margin-top: -160px;
		padding-top:120px;	
		width:89%;
		padding-left:15%;
	   }


  .element1{
		background-color:white;
		margin-top: 90px
		box-shadow: 0.1px 0.5px 27px 0.5px ;
		width:105%;
		border-radius: 15px;
		overflow:hidden;	
	}

   .portfolio{
	   	margin-top:-450px;
	   	margin-left:39px;
		font-family:Arial;
		color:blue;
		font-size:70%;
		float:left;
		letter-spacing:0.5em;
	
       }
  
   .name{
		 font-family: Arial;
		 margin-top:270px;
		 font-size: 12px;
		 color:grey;
		 float:left;
		 padding-left:7px;
        }
   .intro{ 
		 margin-top: 270px;
		 float: left;
		 font-size: 20px;
		 font-family: Aria;
		 color:white;
		 padding-left:-5px;
        }

.contentbelow{
		margin-top: 325px;
		margin-right: -325px;
		padding-left:5px;
		float:left;
		font-size:12px;
		line-height: 15px;
		color: rgb(246,238,173);
	}

  .doosface{
		background:url(../images/web_img.png) no-repeat ;
		width: 106%;
		height: 665px;
		margin-top: -740px;
		margin-bottom:25px;
       }
  .logofolio{
			color:#000;
			margin-left:40.2%;	
		    margin-top:600px;	
			font-size:25px;
			padding-bottom:20px;
           }

      /*Image Content Starts From Here*/
    .safeoil{
			background:url(../images/SafeOil&Gas_logo_small.png) no-repeat;
			width:100%;
			height:500px;	
			margin:8% 0 0 0 auto;
			margin-right:-19%;
			float:right;
		}

	.empire{
			background:url(../images/picem_small.png) no-repeat;
			width:100%;
			height:500px;
			margin-top:-135px;
			margin:8% 0 0 0 auto;
			margin-right:-17%;
			float:right;
		   }
	.yemsi{
			background:url(../images/yemsi_logo_small.png) no-repeat;
			width:100%;
			height:500px;
			margin-top:-135px;
			margin:8% 0 0 0 auto;
			margin-right:-19%;
			float:right;
		   }
	 .yoab{
			background:url(../images/yoabcollections_small.png) no-repeat;
			width:100%;
			height:500px;
			margin-top:-135px;
			margin:8% 0 0 0 auto;
			margin-right:-19%;
			float:right;
		   }
	   .doosdesign{
			background:url(../images/doos_logo_small.jpg) no-repeat;
			width:100%;
			height:500px;
			margin-top:-135px;
			margin:8% 0 0 0 auto;
			margin-right:-19%;
			float:right;
		   }
		.crowndye{
			background:url(../images/thecrowndie_small.png) no-repeat;
			width:100%;
			height:500px;
			margin-top:-135px;
			margin:8% 0 0 0 auto;
			margin-right:-19%;
			float:right;
		}
    /*Image Content Starts From Here*/

    /*Starting of Footer*/
		
		 footer{
			background:#000;
			height:30px;
			overflow:hidden;		
	

		}
		.footer_Name{
			color:white;
			margin-left:-41%;
			margin-top:-4%;
			font-size:.7em;
		} 
		/*End Footer*/
	}
		
/* Mobile Styles Ends Here*/


/*Tablet Styles Starts Here*/ 	
@media only screen and (min-width:600px)and (max-width:800px){
	.bluebody{
		 	background:blue;
		 	margin-right:20px;
		 	margin-top:-120px;
		 }	
		 /*Links starts here*/
		a{
			color:#000;
			font-size: 0.9em;
			font-family: Arial;
			float:right;
			padding:10px 20px 10px 20px;
			width: 70px;
			margin-top: 450px;
			margin-right: 10px;
			background: rgba(246,238,173,.6);
			box-shadow: 0.1px 0.5px 3px 0.1px #000;
			border-radius: 20px;
			border:none;
			border-left:2px solid #ccc;
			border-right:2px solid #ccc;
		}
	.bluebody{
			background:blue;
			height: 620px;
			margin-top: -160px;
			padding-top:120px;	
			width:89%;
			padding-left:15%;
		    }
		/*Links end here*/
  .element1{
			background:white;
			margin-top: 90px;
			box-shadow: 0.1px 0.5px 27px 0.5px ;
			width:105%;
			border-radius:0 30px 0 0;
			height: 2300px;
			overflow:hidden;
			padding-right:5px;
	       }
    
.doosface{
			background:url(../images/web_img.png) no-repeat ;
			width: 200%;
			height: 680px;
			margin-top: -750px;
			margin-bottom:30px;
			margin-left:-400px;
	       } 
	.name{
			 font-family: Arial;
			 margin-top: 270px;
			 font-size: 15px;
			 color:grey;
			 float:left;
			 padding-left:10px;
			 float:right;
			 margin-right:-400px;
	        }
	   
	 .intro{
			margin-top: 280px;
			float: right;
			margin-right: -446px;
			font-size: 28px;
			font-family: Arial;
			color: rgb(246,238,173);
		}
	.contentbelow{
		    float:right;
			margin-top: 350px;
			margin-right:-470px;
			font-size: 11.5px;
			line-height: 15px;
			color:#fff;
			padding:10px;
		   }
	.portfolio{
			margin-top:-30px;
			margin-right:-460px;
			font-family:Arial;
			color:blue;
			font-size:13px;
			letter-spacing:0.4em;
			float:right; 
			background:rgb(246,238,173);
			padding:35px 5px 5px 5px;
			border-radius:20px;
		  }
 .logofolio{
			color:#000;
			margin-left:43%;
		    margin-top:650px;	
			font-size:30px;
           }
            /*Image Content Starts From Here*/
   .safeoil{
			background:url(../images/SafeOil&Gas_logo_small.png) no-repeat;
			width:100%;
			height:500px;	
			margin-right:-10%;
			float:left;
			padding-left:10px;
			
		}

	.empire{
			background:url(../images/picem_small.png) no-repeat;
			width:100%;
			height:500px;
			margin-top:-455px;
			float:right;
			margin-right:-50%;
		   }
	.yemsi{
			background:url(../images/yemsi_logo_small.png) no-repeat;
			width:100%;
			height:500px;
			margin-top:-135px;
			margin:8% 0 0 0 auto;
			margin-right:-10%;
			padding-left:10px;
		   }
	 .yoab{
			background:url(../images/yoabcollections_small.png) no-repeat;
			width:100%;
			height:500px;
			margin-top:-485px;
			margin:8% 0 0 0 auto;
			margin-right:-50%;
			float:right;
		   }
	 .doosdesign{
			background:url(../images/doos_logo_small.jpg) no-repeat;
			width:100%;
			height:500px;
			margin-top:-135px;
			margin:8% 0 0 0 auto;
			margin-right:-15px;
			float:right;
		   }
	.crowndye{
			background:url(../images/thecrowndie_small.png) no-repeat;
			width:100%;
			height:500px;
			margin-top:-500px;
			margin:8% 0 0 0 auto;
			margin-right:-50%;
			float:right;
		}
     /*Image Content Starts From Here*/

        /*Starting of Footer*/
		
		 footer{
			background:#000;
			height:30px;
			overflow:hidden;
			margin-top:-500px;
					
		}

		.footer_Name{
			color:white;
			margin-left:-41%;
			margin-top:-6%;
			font-size:.8em;
			margin-right: 100%;
		} 
		/*End Footer*/
}
/*Tablet Styles Ends Here*/ 


/*Desktop Styles Starts Here*/
@media only screen and (min-width:801px){
	.bluebody{
		 	background:blue;
		 }	
	/*Links starts here*/
		a{
			color:#000;
			font-size: 0.9em;
			font-family: Arial;
			float:right;
			padding:10px 20px 10px 20px;
			width: 70px;
			margin-top: 450px;
			margin-right: 10px;
			background: rgba(246,238,173,.6);
			box-shadow: 0.1px 0.5px 3px 0.1px #000;
			border-radius: 20px;
			border:none;
			border-top:2px solid #ccc;
			text-shadow:10px 10px 10px;
		   }
	/*Links end here*/
		.element1{
			background-color:white;
			margin-top: 110px;
			overflow: hidden;
			box-shadow: 0.1px 0.5px 27px 0.5px #000;
			width:105%;
		    margin-left:-11%;
		} 

	/*Introduction to side paragraph*/
	.name{
			 font-family: Arial;
			  margin-top: 240px;
			  float:right;
			  margin-right:-348.5px;
			  font-size: .9em;
			  color:grey;
			}

	.intro{
			margin-top: 250px;
			float: right;
			margin-right: -425px;
			font-size: 32px;
			font-family: Arial;
			color:white;
			font-size:30px;
		    }

	.contentbelow{
			margin-top: 330px;
			margin-right: -470px;
			float:right;
			font-size: 12px;
			line-height:15px;
			color: rgb(246,238,173);
			width:350px;
		    }
	/*End of Introduction to side paragraph*/

		.portfolio{
			margin-top:-18px;
			margin-right:-480px;
			float:right;
			font-family:Arial;
			color:blue;
			font-size:16px;
			letter-spacing:0.4em;
			background: rgba(246,238,173);
			padding: 3.5px 3.5px 3.5px 3.5px;
			border-radius:0 12px 0 12px;
			border-left:3px solid #fff;
		   }
		strong{
			color:grey;
		}
	/*Header Image*/
     .doosface{
				background:url(../images/web_img.png) no-repeat ;
				width: 120%;
				height: 800px;
				margin-top: -945px;
				margin-bottom:30px;
				margin-left:-19%;
				border-radius:0;
			}
	/*End of header*/

	  .element1{
			background:white;
			margin-top:90px;
			box-shadow:0.1px 0.5px 27px 0.5px ;
			width:105%;
			border-radius:15px;
			overflow:hidden;
		   }
	  .logofolio{
				 color:#000;
				 margin-left:44%;
				 margin-top:800px;	
				 font-size:40px;
		        }
      .safeoil{
				background:url(../images/SafeOil&Gas_logo_dupli.png) no-repeat;
				background-repeat: no-repeat;
				width:40%;
				height:500px;
				color:blue;
				font-size:20px;
				float: left;
			
				margin-top:100px;
				
			   }

	  .empire{
			background:url(../images/picem.png) no-repeat;
			width:40%;
			width:450px;
			height:500px;
			float:right;
			margin-top:120px;
			margin-right:-60px;
		   }
	 

		.doosdesign{
			background:url(../images/doos_logo.jpg)no-repeat;
			width:450px;
			height:500px;
			float:left;
			margin-top:50px;
			margin-left:30px;
		   }
		 .yoab{
		 	background:url(../images/yoabcollections.png)no-repeat;
			width:450px;
			height:500px;
			float:right;
			margin-top:-490px;
			margin-right:-60px;
		 }

		.yemsi{
			background:url(../images/yemsi_logo_cloth.png) no-repeat;
			width:450px;
			height:500px;
			float:left;
			margin-top:-60px;
			margin-right:160px:
		    } 
	
		 .crowndye{
			background:url(../images/thecrowndie.png) no-repeat;
			width:450px;
			height:500px;
			float:right;
			margin-top:39px;
			margin-right:-60px;
		}

        /*Starting of Footer*/
		
		 footer{
			background:#000;
			height:30px;
			overflow:hidden;
			margin-top:-500px;
					
		}

		.footer_Name{
			color:white;
			margin-left:-41%;
			margin-top:-5%;
			font-size:.9em;
			margin-right: 100%;
		} 
		/*End Footer*/
		}
	
	/*Desktop Styles Ends Here*/